
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: gray;
}
#main{
    overflow-y: auto;
    overflow-x: hidden;
}
.z-index-content {
    z-index: 2;
    position: fixed;
    width:100%;
    // overflow: none;
    height: 100%;
}