#modal {
  transition: translate 0s, opacity 0.1s linear;
  &.hidden {
    transition:  opacity 0.1s linear,transform 0s .1s !important;
    transform:translate(100%);
    opacity: 0;
  }
  &.shown {
    transform: translate();
    opacity: 1;
  }
  background-color: rgba(0, 0, 0, 0.274);
  
  z-index: 1000;
  position: fixed;
  inset: 0;
  color: white;
  .modal-content {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: min-content;
    padding: 0.9rem 0.4rem .4rem .4rem;
    background-color: rgba(0, 0, 0, 0.911);
    
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  a{
    color:white;
    text-decoration: none;
  }
  img {
    margin-bottom:1rem;

    width: auto;
    height: auto;
    max-height: 20rem;
    max-width: 20rem;
    aspect-ratio: 1 / 1;
  }
}
