@use "header";

#content {
  h1 {
    z-index: 20;
    position: absolute;
    font-family: "roboto";
    color: rgb(119, 119, 119);
    width: min-content;
    margin: 0 auto;
    background-color: white;
    padding: 0 1rem;
    right: 0;
    top: 0;
    font-size: 0.8rem;
  }
  color: #f1f1f1;
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
}

.links-container {
  width: 80%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.link-container {
  &:hover {
    a {
      background-color: #ffffff00;
    }
  }
  // border:1px solid white;
  box-shadow: 0px 0px 0px 2px rgb(0 24 34 / 88%);
  background-color: red;
  margin: 5px;
  width: calc(100% - 10px);
  height: 5rem;
  background-size: cover;
  position: relative;
  .show-more {
    font-family: "roboto";
    font-weight:bold;
   height:2em;

    position: absolute;
    color: black;
    background-color: rgb(0 24 34 / 88%);
    border-radius: 5px 5px 0px 0px ;

    color: #a7a7a7;
    margin: 0;
    bottom: 0rem;
    right: 0.2rem;
    padding: 0.2rem 0.5rem;
  }
  a {
    transition: background-color 0.3s;

    display: block;
    height: 100%;
    width: 100%;
    background: rgba(46, 46, 46, 0.295);
    text-decoration: none;
    color: black;

    p {
      font-family: Roboto;
      background-color: rgb(0 24 34 / 88%);
      display: inline;
      padding: 0.2rem 0.5rem;
      border-radius: 0px 0px 5px 5px;
      color: #a7a7a7;
      font-weight: bold;
      position: absolute;
      right: 0.2rem;
      top: 0rem;
      margin: 0;
    }
  }
}

@media screen and (min-width: 800px) {
  #content {
    .link-container {
      background-color: red;
      margin: 5px;
      width: calc(50% - 10px);
      height: 10rem;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
}
